<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<div style="margin-left: 20px">
    <h1>All Movies</h1>
    <hr>
    <% if @movies.count > 0 %>
        <% @movies.each do |movie|  %>
            <%= movie.id %> - <%= movie.title %> <a href="/movies/<%= movie.id %>">Show Details</a>
            <br />
        <% end %>
    <% else %>
        <p>No movies added.</p>
    <% end %>

    <hr>

    <p><a href="/movies/new">Add a new movie</a></p>

</div>
