<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<h2>Create new movie</h2>
<form class="form-inline" action="/movies" method="post">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="title">
  </div>
  <div class="form-group">
    <label>Director</label>
    <input type="text" class="form-control" name="director">
  </div>
  <div class="form-group">
    <label>Rating</label>
    <input type="text" class="form-control" name="rating">
  </div>

  <input class="btn btn-default" type="submit">
  <br/><br/>
  <a href="/movies">Back to movies index page</a>

</form>